<div>
  <h2>
    <span>Schedule Logs</span>
  </h2>



  <p-table [value]="scheduleLogs"  [responsive]="true"
           [resizableColumns]="true"
           dataKey="id"
           [rows]="10"
           [paginator]="true"
           [rowsPerPageOptions]="[10,20,30]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="width: 30px"><span>ID</span>
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="schedule.name"><span>Name</span>
          <p-sortIcon field="schedule.name"></p-sortIcon>
        </th>

        <th pSortableColumn="completed"><span>completed</span>
          <p-sortIcon field="completed"></p-sortIcon>
        </th>
        <th pSortableColumn="schedule.person"><span>Person</span>
          <p-sortIcon field="schedule.person"></p-sortIcon>
        </th>

        <th pSortableColumn="created"><span>created</span>
          <p-sortIcon field="created"></p-sortIcon>
        </th>
        <th pSortableColumn="schedule.next"><span>Next</span>
          <p-sortIcon field="schedule.next"></p-sortIcon>
        </th>
        <th pSortableColumn="schedule.cron"><span>Cron</span>
          <p-sortIcon field="schedule.cron"></p-sortIcon>
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr [pSelectableRow]="item" style="height: 20px">
        <td>{{item.id}}</td>
        <td>{{item.schedule.name}}</td>
        <td>

          <input id="active" type="checkbox" [(ngModel)]="item.completed" (change)="onChangeCompleted(item)">
        </td>
        <td>{{item.schedule.person}}</td>
        <td>{{item.created | date:'dd/MMM/yyyy HH:mm'}}</td>
        <td>{{item.schedule.next | date:'dd/MMM/yyyy HH:mm'}}</td>
        <td>{{item.schedule.cron}}</td>
      </tr>
    </ng-template>

  </p-table>
  <notifications></notifications>
</div>
