<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reminder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="${schedule.person}">Dear</p>
<p th:text="${schedule.name}"></p>
<p th:text="${schedule.description}"></p>
<p>You can mark job as completed following  url bellow</p>
<a th:href="@{|https://shceduler.herokuapp.com/scheduleLogEdit/${scheduleLog.id}|}"
   th:text="'https://shceduler.herokuapp.com/scheduleLogEdit/' + ${scheduleLog.id}"></a>
</body>
</html>
