<div>
  <h2>
    <span>Schedules</span>
  </h2>
  <div *ngIf="cronVisible" class="ui-g  ui-sm ui-fluid">
    <div class="ui-g-1 ui-sm-12"></div>
    <div class="ui-g-1 ui-sm-12">
      <button *ngIf="cronVisible" type="button" pButton (click)="closeCron()" label="Close"></button>
    </div>

  </div>
  <div *ngIf="cronVisible" class="ui-g  ui-sm ui-fluid">
    <div class="ui-g-2 ui-sm-12"></div>
    <div class="ui-g-7 ui-sm-12">
      <p-schedule *ngIf="cronVisible"
                  [weekends]="true"
                  weekNumbers="true"
                  locale="uk"
                  (onEventClick)="onEventClick($event)"
                  [header]="headerConfig" [editable]="true"
                  [events]="events" (onViewRender)="loadEvents($event)"></p-schedule>
    </div>
    <div class="ui-g-3 ui-sm-12"></div>
  </div>
  <div *ngIf="cronVisible" class="ui-g  ui-sm ui-fluid">
    <div class="ui-g-1 ui-sm-12"></div>
    <div class="ui-g-1 ui-sm-12">
      <button *ngIf="cronVisible" type="button" pButton (click)="closeCron()" label="Close"></button>
    </div>

  </div>


  <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>


  <p-table  [columns]="cols" #dataTable *ngIf="!cronVisible"
            [value]="schedules"
            [(selection)]="selectedSchedule"
            dataKey="id"
             responsive="true"
            (sortFunction)="handleSort($event)" [customSort]="true"
  >

    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="exportCSV(dataTable)" style="float:left"></button>
        <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="dataTable.exportCSV({selectionOnly:true})" style="float:right"></button>
      </div>
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dataTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </ng-template>
    <!--<ng-template pTemplate="caption">

    </ng-template>-->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th rowspan="2" style="width: 2.25em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>

        <th rowspan="2" pSortableColumn="id" style="width: 30px"><span>ID</span>
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th rowspan="2" pSortableColumn="active" style="width: 30px"><span>A</span>
          <p-sortIcon field="active"></p-sortIcon>
        </th>
        <th rowspan="2" pSortableColumn="name"><span>Name</span>
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="person"><span>Person</span>
          <p-sortIcon field="person"></p-sortIcon>
        </th>

        <th rowspan="2" pSortableColumn="next"><span>Next</span>
          <p-sortIcon field="next"></p-sortIcon>
        </th>
        <th rowspan="2" pSortableColumn="cron"><span>Cron</span>
          <p-sortIcon field="cron"></p-sortIcon>
        </th>
        <th rowspan="2" pSortableColumn="cronLog"><span>Cron Log</span>
          <p-sortIcon field="cronLog"></p-sortIcon>
        </th>
        <th rowspan="2" pSortableColumn="createdDate"><span>Created Date</span>
           <p-sortIcon field="createdDate"></p-sortIcon>
         </th>
        <th rowspan="2" pSortableColumn="email"><span>Email</span>
          <p-sortIcon field="email"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th>
          <p-multiSelect [panelStyle]="{minWidth:'12em'}" [options]="usItem" defaultLabel="All People" (onChange)="dataTable.filter($event.value, 'person', 'in')"></p-multiSelect>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>

        <td><a [routerLink]="['/scheduleEdit', rowData.id]">{{rowData.id}}</a></td>
        <td>
          <input id="active" disabled readonly="true" type="checkbox" [(ngModel)]="rowData.active">
        </td>
        <td>{{rowData.name}}</td>
        <td>{{rowData.person}}</td>
        <td>{{rowData.next | date:'dd-MM-yyyy HH:mm'}}</td>
        <td>{{rowData.cron}}</td>
        <td>{{rowData.cronLog}}</td>
        <td>{{rowData.createdDate  | date:'dd-MM-yyyy HH:mm'}}</td>
        <td>{{rowData.email}}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div style="text-align:left">
        <!-- <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Add in Dialog"></button>-->
        <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd2()" label="Add"></button>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
        <button type="button" pButton icon="fa-calendar" (click)="showCron()" label="Show Cron"></button>
      </div>
    </ng-template>
  </p-table>
  <p-paginator [rows]="itemsPerPage" [totalRecords]="totalItems" [rowsPerPageOptions]="[20,40,80]"
               (onPageChange)="paginate($event)">{{totalItems}}</p-paginator>

  <notifications></notifications>
</div>
