<!--<pre> {{schedule|json}}</pre>-->
<div class="ui-g  ui-sm ui-fluid">
  <div class="ui-g-6 ui-sm-12 ">
    <div class="ui-g-6 ui-sm-12">
      <label style ='width:100px' for="active">Active</label>

      <input id="active" type="checkbox" [(ngModel)]="schedule.active">
    </div>

    <div class="ui-g-6 ui-sm-12 ">
      <div class="ui-g-6 ui-sm-12">
        <label style ='width:100px'  for="name">Name</label>
      </div>
      <div class="ui-g-6 ui-sm-12 ">
        <input pInputText  style ='width:150px' id="name" [(ngModel)]="schedule.name"/>
      </div>
    </div>

    <div class="ui-g-6 ui-sm-12 ">
      <div class="ui-g-6 ui-sm-12 ">
        <label style ='width:100px'  for="Period">Period</label>
      </div>
      <div class="ui-g-6 ui-sm-12 ">
        <select style ='width:150px'  id="Period" [(ngModel)]="schedule.cron">
          <option *ngFor="let name of periods " [value]="name.code">{{name.name}}</option>
        </select>
        <!-- <p-dropdown  id ="period"
                      [style]="{'width':'300px'}" editable="true"
                      (onChange)="periodChange($event)"
                      [options]="periods"
                      dataKey="code"
                      [(ngModel)]="periodTxt"
                      optionLabel="name"></p-dropdown>-->
      </div>
    </div>
    <!---->

    <div class="ui-g-6 ui-sm-12 ">
      <cron-jobs style ='width:150px' [(ngModel)]="schedule.cron" [ngModelOptions]="{standalone: true}"></cron-jobs>
    </div>
    <div class="ui-g-6 ui-sm-12 ">
      <div class="ui-g-6 ui-sm-12">
        <label style ='width:100px'  for="cron">Cron</label>
      </div>
      <div class="ui-g-6 ui-sm-12 ">
        <input pInputText  style ='width:150px' id="cron" [(ngModel)]="schedule.cron"/>
        {{periodTxt}}
      </div>
    </div>
    <div class="ui-g-6 ui-sm-12 ">
      <div class="ui-g-6 ui-sm-12">
        <label style ='width:100px'  for="person">Person</label>
      </div>
      <div class="ui-g-6 ui-sm-12 ">

        <select  style ='width:150px' id="person" [(ngModel)]="schedule.person">
          <option *ngFor="let name of us " [value]="name.code">{{name.name}}</option>
        </select>
        <!--    <p-dropdown  id ="person" [options]="us"
                         [(ngModel)]="selectedPeson"
                         dataKey="code"
                         (onchange)="personChange($event)"
                         optionLabel="name"></p-dropdown>-->
      </div>
    </div>
    <div class="ui-g-6 ui-sm-12 ">
      <div class="ui-g-6 ui-sm-12">
        <label style ='width:100px' for="email">Email</label>
      </div>
      <div class="ui-g-6 ui-sm-12 ">
        <input pInputText  style ='width:150px' id="email" [(ngModel)]="schedule.email"/>
      </div>
    </div>
    <div class="ui-g-6 ui-sm-12 ">
      <div class="ui-g-3">
        <label style ='width:100px'  for="desc">Description</label>
      </div>
      <div class="ui-g-6">
        <textarea id="desc"  style ='width:150px' pInputTextarea [(ngModel)]="schedule.description" [rows]="5"></textarea>
      </div>
    </div>

    <div class="ui-g-6 ui-sm-12 ">
      <div class="ui-g-6 ui-sm-12">
        <label style ='width:100px'  for="start">Start</label>
      </div>
      <div class="ui-g-6 ui-sm-12   ui-fluid">
        <p-calendar id="start" [(ngModel)]="schedule.start" name="start" showTime="true" hourFormat="24"
                    [showIcon]="true" showButtonBar="true">
        </p-calendar>
      </div>


    </div>
    <div class="ui-g-6 ui-sm-12 ">
      <div class="ui-g-6 ui-sm-12">
        <label style ='width:100px'  for="next">Next</label>
      </div>
      <div class="ui-g-6 ui-sm-12  ui-fluid">
        <p-calendar id="next" [(ngModel)]="schedule.next" name="next" showTime="true" hourFormat="24"
                    [showIcon]="true" showButtonBar="true">
        </p-calendar>
      </div>


    </div>

    <div class="ui-g-6 ui-sm-12 ">
      <div class="ui-g-6 ui-sm-12">
        <label style ='width:100px'  for="start">Stop</label>
      </div>
      <div class="ui-g-6 ui-sm-12  ui-fluid">
        <p-calendar id="stop" [(ngModel)]="schedule.stop" name="stop" showTime="true" hourFormat="24"
                    [showIcon]="true" showButtonBar="true">
        </p-calendar>
      </div>


    </div>

  </div>
</div>
  <div class="ui-g-6 ui-sm-12 ">
    <div class="ui-dialog-buttonpane ui-helper-clearfix">

      <button type="button" pButton icon="fa-arrow-left" (click)="previousState()" label="Back"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
      <button type="button" pButton icon="fa-close" (click)="delete()" style="background-color: red;float: right" label="Delete"></button>
    </div>
  </div>
<notifications></notifications>
