<div>
  <h2>
    <span>Schedules</span>
  </h2>
  <notifications></notifications>
  <div class="row">
  </div>
  <br/>

  <p-table [value]="schedules"
           [resizableColumns]="true"
           selectionMode="single" [(selection)]="selectedSchedule" (onRowSelect)="onRowSelect($event)"
           dataKey="id"
           [rows]="10"
           [paginator]="true"
           [rowsPerPageOptions]="[10,20,30]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="width: 30px" ><span>ID</span>
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="name"><span>Name</span>
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="person"><span>Person</span>
          <p-sortIcon field="person"></p-sortIcon>
        </th>

        <th pSortableColumn="next"><span>Next</span>
          <p-sortIcon field="next"></p-sortIcon>
        </th>
        <th pSortableColumn="cron"><span>Cron</span>
          <p-sortIcon field="cron"></p-sortIcon>
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-schedule>
      <tr [pSelectableRow]="schedule" style="height: 20px">
        <td>{{schedule.id}}</td>
        <td>{{schedule.name}}</td>
        <td>{{schedule.person}}</td>
        <td>{{schedule.next | date:'dd/MMM/yyyy HH:mm'}}</td>
        <td>{{schedule.cron}}</td>

      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
    </ng-template>

  </p-table>

  <p-dialog header="Schedule Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
         [width]="500"   >
    <div class="ui-g ui-fluid" *ngIf="schedule">
      <div class="ui-g-12">
        <div class="ui-g-2">
          <label for="active">Active</label>
        </div>
        <div class="ui-g-10">
          <input id="active" type="checkbox" [(ngModel)]="schedule.active">
        </div>
      </div>
      <div class="ui-g ui-fluid" >
        <div class="ui-g-12">
          <div class="ui-g-2">
            <label for="name">Name</label>
          </div>
          <div class="ui-g-10">
            <input pInputText id="name" [(ngModel)]="schedule.name"/>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-1">
            <label for="Period">Period</label>
          </div>
          <div class="ui-g-11">
            <select id="Period"   [(ngModel)]="schedule.cron" >
              <option *ngFor="let name of periods " [value]="name.code">{{name.name}}</option>
            </select>
           <!-- <p-dropdown  id ="period"
                         [style]="{'width':'300px'}" editable="true"
                         (onChange)="periodChange($event)"
                         [options]="periods"
                         dataKey="code"
                         [(ngModel)]="periodTxt"
                         optionLabel="name"></p-dropdown>-->
          </div>
        </div>
        <!---->

        <div class="ui-g-12">
          <cron-jobs  [(ngModel)]="schedule.cron"  [ngModelOptions]="{standalone: true}" ></cron-jobs>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-2">
            <label for="cron">Cron</label>
          </div>
          <div class="ui-g-10">
            <input pInputText id="cron" [(ngModel)]="schedule.cron"/>
            {{periodTxt}}
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-2">
            <label for="person">Person</label>
          </div>
          <div class="ui-g-10">

            <select id="person"  [(ngModel)]="schedule.person">
              <option *ngFor="let name of us " [value]="name.code">{{name.name}}</option>
            </select>
        <!--    <p-dropdown  id ="person" [options]="us"
                         [(ngModel)]="selectedPeson"
                         dataKey="code"
                         (onchange)="personChange($event)"
                         optionLabel="name"></p-dropdown>-->
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-2">
            <label for="email">Email</label>
          </div>
          <div class="ui-g-10">
            <input pInputText id="email" [(ngModel)]="schedule.email"/>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="desc">Description</label>
          </div>
          <div class="ui-g-9">
            <textarea id ="desc" pInputTextarea [(ngModel)]="schedule.description" [rows]="5"></textarea>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-2">
            <label for="start">Start</label>
          </div>
          <div class="ui-g-10  ui-fluid" >
            <p-calendar id="start" [(ngModel)]="schedule.start" name="start"  showTime="true" hourFormat="24"
                        [showIcon]="true" showButtonBar="true">
            </p-calendar>
          </div>


        </div>
        <div class="ui-g-12">
          <div class="ui-g-2">
            <label for="next">Next</label>
          </div>
          <div class="ui-g-10 ui-fluid">
            <p-calendar id="next" [(ngModel)]="schedule.next" name="next"   showTime="true" hourFormat="24"
                        [showIcon]="true" showButtonBar="true">
            </p-calendar>
          </div>


        </div>

        <div class="ui-g-12">
          <div class="ui-g-2">
            <label for="start">Stop</label>
          </div>
          <div class="ui-g-10 ui-fluid">
            <p-calendar id="stop" [(ngModel)]="schedule.stop" name="stop" showTime="true" hourFormat="24"
                        [showIcon]="true" showButtonBar="true">
            </p-calendar>
          </div>


        </div>

      </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
          <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
      </p-footer>
  </p-dialog>
</div>
