@import "~bootstrap/dist/css/bootstrap.css";

.ui-widget {
  font: 12px Tahoma, Arial, Helvetica, sans-serif !important;
  line-height: 14px !important;
}

.ui-datepicker {
  width: auto !important;
}

.session-help {
  margin-right: 0;
}

