<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="10 minutes">
    <contextName>bar0n</contextName>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss,SSS} [%contextName] %-5p &lt;%t&gt; -- [%c] %m%n</pattern>
        </encoder>
    </appender>

    <!-- put your appenders -->
<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        &lt;!&ndash; encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default &ndash;&gt;
        <encoder>
            <pattern>%d{ISO8601} %p %t %c{0}.%M - %m%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>-->

    <!-- put your loggers here -->
    <logger name="org.springframework.web" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="com.bar0n.shceduler.rest.ScheduleResource" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- put your root here -->
    <root level="warn">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>